body{
    background:linear-gradient(rgb(253, 1, 1),#ff7b00,rgb(0, 0, 0)) ;
}
h1{
    font-size: 60px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    color: rgb(0, 0, 0);
}

hr{
    width: 60%;
    height: 11px;
    background: rgb(#ff7b00);
}

p{
    width: 60%;
    margin: auto;
    text-align: justify;
}
img{
    height: 300px;
}

.caixa{
    width: fit-content;
    margin: auto;
}

#vx{
    width: 60%;
    border-radius: 20px;
    margin: auto;
    display: block;    
}